@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
--Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}
body{
    height: 100vh;
    background-image: url("images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: bottom;
    background-color: hsl(229, 57%, 11%);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.left{
    background-color: hsl(228, 56%, 26%);
    padding: 20px 15px;
    padding-right: 75px !important;
    padding-left: 40px;
    margin-right: 10px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}
.icons img{
   background-color: hsl(229, 57%, 11%);
   padding: 10px;
   border-radius: 8px;
   width: 30px;
   height: 30px;
   margin: 0px 5px;
}
.right{
    background-color: hsl(228, 56%, 26%);
    color: white;
    padding: 20px 20px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10px;
    width: 550px;
    height: 150px;
    
}
.storage p{
    opacity: 60%;
}
.storage p .gb{
    opacity: 100% !important;
    font-weight: bold;
    color: white !important;
}

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 520px;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: hsl(229, 57%, 11%);
    border-radius: 0.5rem;
    height: 1rem; 
    width: 520px; 
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -0px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1.5px solid hsl(6, 100%, 80%);
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 0.5px solid white;
   outline:0.8px solid hsl(6, 100%, 80%);
   outline-offset: 0.125rem; 
 }
 input[type="range"]::-moz-range-progress {
    background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 1rem;
 }
.values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.up{
    display: flex;
    flex-direction: row;

}
.cloud{
    background-color: white;
    position: relative;
    left: 120px;
    bottom: 50px;
    width: 160px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.cloud #triangle-topright {
    width: 5px;
    height: 9px;
    border-top: none;
    border-top: 32px solid white;
    border-left: 32px solid transparent;
    position: relative;
    top: 30px;
    left: 6px;
  }

.cloud p{
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.cloud p span{
    color: hsl(229, 7%, 55%);
    font-size: 16px;
    font-weight: lighter;

}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}
.attribution a {
    color: cyan; 
}

@media screen and (max-width:1050px) {
    body{
        background-image: url("images/bg-mobile.png");
        font-family: 'Raleway', sans-serif;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 10px;
        width: 80%;
        
    }  
    .left{
        width: 400px;
        height: 180px;
        margin: 0;
        padding: 0;
        padding-right: 0;
    } 
    .right{
        width: 400px;
        height: 180px;
    }
    input[type="range"]{
        width: 400px;
    }
    .cloud{
        position: absolute;
        right: 100px;
    }
    .cloud #triangle-topright{
        display: none;
    }
}